<h2>Categories</h2> 

<%= form_with url: logout_path, method: "POST" do |f| %>
    <%= f.submit "logout" %>
<% end %>



<ul>
    <% @categories.each do |category| %>  
        <li>
            <%= link_to category_path(category) do %>
                <%= category.name %>
            <% end %>
        </li>
    <% end %>
</ul>